Contato:
    type: entity
    table: contato
    id:
        id:
            type: integer
            nullable: false
            unsigned: true
            comment: ''
            id: true
            generator:
                strategy: IDENTITY
    fields:
        telefone:
            type: string
            nullable: false
            length: 45
            fixed: false
            comment: ''
        email:
            type: string
            nullable: false
            length: 45
            fixed: false
            comment: ''
    manyToMany:
        empresa:
            targetEntity: Empresa
            cascade: {  }
            mappedBy: contato
            inversedBy: null
            joinTable: null
            orderBy: null
    lifecycleCallbacks: {  }
